<h1>New Restaurant</h1>

<%= form_with model: @restaurant, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div>
    <%= f.label :category %>
    <%= f.select :category, ['chinese', 'italian', 'japanese', 'french', 'belgian'] %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
